Repository ProjectEvergreen/www.greenwoodjs.dev, pull requests merged in 2024-11, with the labels that each got.

#118 content/issue 103 v0.30.0 release blog post
  src/assets/blog/acorn.webp
  src/assets/blog/greenwood-init-refresh.webp
  src/pages/blog/release/v0-30-0.md
  src/pages/index.md
Labels: content

#127 content/issue 75 final content and site review
  CONTRIBUTING.md
  link-checker.js
  package-lock.json
  package.json
  src/components/edit-on-github/edit-on-github.module.css
  src/components/run-anywhere/run-anywhere.js
  src/components/table-of-contents/table-of-contents.module.css
  src/pages/blog/release/v0-27-0.md
  src/pages/blog/state-of-greenwood-2022.md
  src/pages/docs/content-as-data/active-frontmatter.md
  src/pages/docs/content-as-data/collections.md
  src/pages/docs/content-as-data/data-client.md
  src/pages/docs/content-as-data/index.md
  src/pages/docs/content-as-data/pages-data.md
  src/pages/docs/index.md
  src/pages/docs/introduction/about.md
  src/pages/docs/introduction/index.md
  src/pages/docs/introduction/setup.md
  src/pages/docs/introduction/web-standards.md
  src/pages/docs/pages/api-routes.md
  src/pages/docs/pages/index.md
  src/pages/docs/pages/layouts.md
  src/pages/docs/pages/routing.md
  src/pages/docs/pages/server-rendering.md
  src/pages/docs/plugins/css-modules.md
  src/pages/docs/plugins/index.md
  src/pages/docs/plugins/lit-ssr.md
  src/pages/docs/plugins/typescript.md
  src/pages/docs/reference/appendix.md
  src/pages/docs/reference/configuration.md
  src/pages/docs/reference/plugins-api.md
  src/pages/docs/reference/rendering-strategies.md
  src/pages/docs/resources/assets.md
  src/pages/docs/resources/index.md
  src/pages/docs/resources/markdown.md
  src/pages/docs/resources/scripts.md
  src/pages/guides/ecosystem/storybook.md
  src/pages/guides/ecosystem/tailwind.md
  src/pages/guides/ecosystem/web-test-runner.md
  src/pages/guides/getting-started/going-further.md
  src/pages/guides/getting-started/key-concepts.md
  src/pages/guides/getting-started/walkthrough.md
  src/pages/guides/hosting/aws.md
  src/pages/guides/hosting/github.md
  src/pages/guides/tutorials/full-stack-web-components.md
  src/pages/guides/tutorials/theme-packs.md
  src/styles/docs.css
  src/styles/theme.css
Labels: docs, enhancement, question, content

#124 enhancement/issue 30 above the fold home page feedback
  src/components/build-with-friends/build-with-friends.module.css
  src/components/capabilities/capabilities.css
  src/components/header/header.module.css
  src/components/hero-banner/hero-banner.module.css
  src/components/latest-post/latest-post.module.css
  src/components/why-greenwood/why-greenwood.module.css
  src/styles/home.css
Labels: enhancement

#126 chore/upgrade Greenwood v0.30.0
  package-lock.json
  package.json
Labels: chore

#130 content/blog post init code block and scrollbar styling
  src/pages/blog/release/v0-30-0.md
  src/styles/theme.css
Labels: enhancement, content

#132 bug/issue 131 update to new Discord community server invite link
  src/components/footer/footer.js
  src/components/footer/footer.spec.js
  src/components/header/header.js
  src/components/header/header.spec.js
  src/pages/docs/introduction/about.md
  src/pages/guides/getting-started/next-steps.md
Labels: bug, docs, content

#129 docs/post launch docs feedback and clarifications
  package-lock.json
  package.json
  src/pages/docs/content-as-data/active-frontmatter.md
  src/pages/docs/content-as-data/index.md
  src/pages/docs/introduction/setup.md
  src/pages/docs/pages/server-rendering.md
  src/pages/docs/plugins/index.md
  src/pages/docs/reference/configuration.md
  src/pages/docs/resources/scripts.md
  src/pages/guides/hosting/aws.md
Labels: docs, fast follow

#134 Fix broken link (should be absolute instead of relative).
  src/pages/docs/introduction/web-standards.md
Labels: bug, docs

#135 Fix typo (YMMY -> YMMV).
  src/pages/docs/reference/rendering-strategies.md
Labels: bug, docs

#136 Fix typo in pages data docs example
  src/pages/docs/content-as-data/pages-data.md
Labels: bug, docs

#138 Fix broken link in rendering strategies docs
  src/pages/docs/reference/rendering-strategies.md
Labels: bug, docs

#137 Escape angle brackets for Plugins API reference docs
  src/pages/docs/reference/plugins-api.md
Labels: bug, docs

#140 content/scrub Slack workspace invites with GitHub links
  src/pages/blog/release/v0-28-0.md
  src/pages/blog/release/v0-29-0.md
  src/pages/blog/release/v0-30-0.md
Labels: enhancement, content

#141 never ending Discord link
  src/components/footer/footer.js
  src/components/footer/footer.spec.js
  src/components/header/header.js
  src/components/header/header.spec.js
  src/pages/blog/release/v0-28-0.md
  src/pages/blog/release/v0-29-0.md
  src/pages/blog/release/v0-30-0.md
  src/pages/docs/introduction/about.md
  src/pages/guides/getting-started/next-steps.md
Labels: bug, content
