Repository ProjectEvergreen/www.greenwoodjs.dev, pull requests merged in 2025-04, with the labels that each got.

#186 enhancement/issue 176 Add bluesky icon to social media tray
  src/assets/bluesky.svg
  src/components/footer/footer.module.css
  src/components/social-tray/social-tray.js
  src/components/social-tray/social-tray.spec.js
Labels: enhancement

#203 content/issue 103 remove commented out content from v0.30.0 blog post
  src/pages/blog/release/v0-30-0.md
Labels: content

#206 bug/revert AWS logo home page addition
  src/assets/aws.svg
  src/components/run-anywhere/platforms.json
  src/components/run-anywhere/run-anywhere.js
Labels: bug, content

#190 docs/issue 189 document option to use an array for frontmatter `collection` key
  src/pages/docs/content-as-data/collections.md
  src/pages/docs/pages/server-rendering.md
Labels: docs, release/v0.32.0

#198 docs/issue 188 built in TypeScript support
  netlify.toml
  src/pages/docs/content-as-data/collections.md
  src/pages/docs/content-as-data/data-client.md
  src/pages/docs/plugins/css-modules.md
  src/pages/docs/plugins/index.md
  src/pages/docs/plugins/lit-ssr.md
  src/pages/docs/plugins/postcss.md
  src/pages/docs/plugins/raw.md
  src/pages/docs/plugins/typescript.md
  src/pages/docs/reference/appendix.md
  src/pages/docs/reference/configuration.md
  src/pages/docs/reference/plugins-api.md
  src/pages/docs/resources/markdown.md
  src/pages/docs/resources/typescript.md
  src/pages/guides/ecosystem/web-test-runner.md
  src/pages/guides/tutorials/theme-packs.md
Labels: docs, question, infra, release/v0.32.0

#199 guides/issue 187 AWS Adapter docs and home page logo
  src/assets/aws.svg
  src/components/run-anywhere/platforms.json
  src/components/run-anywhere/run-anywhere.js
  src/pages/docs/plugins/index.md
  src/pages/guides/hosting/aws.md
Labels: docs, enhancement, release/v0.32.0

#204 content/issue 195 v0.32.0 release blog post
  src/pages/blog/release/v0-32-0.md
  src/pages/index.md
Labels: content, release/v0.32.0

#201 docs/passing options to markdown plugins in configuration
  src/pages/docs/reference/configuration.md
Labels: docs, release/v0.32.0

#207 content/issue 195 amend v0.32.0 blog post with TypeScript plugin deprecation call out
  src/pages/blog/release/v0-32-0.md
Labels: content, release/v0.32.0
