Repository ProjectEvergreen/www.greenwoodjs.dev, pull requests merged in 2025-01, with the labels that each got.

#161 docs/fix data client code sample to reference correct import location
  src/pages/docs/content-as-data/data-client.md
Labels: docs

#160 docs/clarify SSR body and layout APIs
  src/pages/docs/pages/layouts.md
  src/pages/docs/pages/server-rendering.md
Labels: docs

#153 docs/issue 144 best practices and recommendations for import maps and referencing node modules
  src/pages/docs/introduction/about.md
  src/pages/docs/introduction/web-standards.md
  src/pages/docs/reference/plugins-api.md
  src/pages/docs/resources/scripts.md
  src/pages/docs/resources/styles.md
  src/pages/guides/ecosystem/index.md
  src/pages/guides/ecosystem/lit.md
Labels: docs, release/v0.31.0

#148 docs/issue 145 updates for PostCSS plugin ESM only configuration
  src/pages/docs/plugins/postcss.md
  src/pages/guides/ecosystem/storybook.md
  src/pages/guides/ecosystem/tailwind.md
Labels: docs, release/v0.31.0

#157 docs/issue 156 update markdown configuration docs and deprecate settings option
  src/pages/docs/reference/configuration.md
  src/pages/docs/resources/markdown.md
Labels: docs, release/v0.31.0

#152 docs/issue 149 clarify renderer plugin prerendering usage and options
  src/pages/docs/reference/plugins-api.md
Labels: docs, release/v0.31.0

#155 docs/markdown and Web Components explanation and example
  src/pages/docs/resources/markdown.md
Labels: docs, release/v0.31.0

#159 docs/document new minimum NodeJS LTS version requirements
  src/pages/docs/introduction/setup.md
  src/pages/docs/pages/server-rendering.md
  src/pages/guides/getting-started/index.md
  src/pages/guides/hosting/aws.md
  src/pages/guides/hosting/github.md
  src/pages/guides/hosting/netlify.md
Labels: docs, release/v0.31.0

#154 docs/clarify recommendations for using data client
  src/pages/docs/content-as-data/data-client.md
Labels: docs, release/v0.31.0

#166 bug/issue 164 properly indent code blocks in ordered lists to fix broken markdown rendering
  src/pages/docs/pages/layouts.md
  src/pages/docs/reference/rendering-strategies.md
  src/pages/guides/ecosystem/storybook.md
  src/pages/guides/ecosystem/tailwind.md
  src/pages/guides/ecosystem/web-test-runner.md
  src/pages/guides/hosting/aws.md
  src/pages/guides/hosting/github.md
  src/pages/guides/tutorials/theme-packs.md
Labels: bug, docs

#167 bug/issue 165 fix markdown table rendering
  greenwood.config.js
  package-lock.json
  package.json
Labels: bug, docs

#169 bug/issue 164 fix markdown indention for hosting index page
  src/pages/guides/hosting/index.md
Labels: bug, docs

#170 bug/issue 168 restore original drop shadow styles
  src/components/hero-banner/hero-banner.module.css
  src/components/latest-post/latest-post.module.css
  src/components/run-anywhere/run-anywhere.module.css
  src/components/side-nav/side-nav.module.css
  src/components/table-of-contents/table-of-contents.module.css
Labels: bug, docs, content

#171 enhancement/issue 162 better styling for pnpm logo in copy to clipboard component
  src/assets/pnpm.svg
Labels: enhancement

#173 enhancement/issue 96 icons positioning and alignment tweaks
  src/components/copy-to-clipboard-block/ctc-block.css
  src/components/copy-to-clipboard-block/ctc-block.js
Labels: enhancement

#163 enhancement/issue 63 social tray component
  src/components/footer/footer.js
  src/components/footer/footer.module.css
  src/components/footer/footer.spec.js
  src/components/header/header.js
  src/components/header/header.module.css
  src/components/header/header.spec.js
  src/components/social-tray/social-tray.js
  src/components/social-tray/social-tray.module.css
  src/components/social-tray/social-tray.spec.js
  src/components/social-tray/social-tray.stories.js
Labels: enhancement

#172 chore/upgrade ESLint with import attributes syntax support
  eslint.config.js
  package-lock.json
  package.json
Labels: chore

#177 chore/use register export condition for custom loaders npm scripts
  package.json
Labels: chore
