Repository ProjectEvergreen/www.greenwoodjs.dev, pull requests merged in 2025-02, with the labels that each got.

#178 docs/clarify importing modules in SSR pages
  src/pages/docs/pages/server-rendering.md
Labels: docs

#185 docs/issue 180 fixed a typo on the Body section of the server rendering documentation
  src/pages/docs/pages/server-rendering.md
Labels: docs

#182 docs/more concise version of custom imports using `NODE_OPTIONS`
  package.json
  src/pages/docs/pages/server-rendering.md
Labels: docs, chore

#181 chore/new GitHub issue templates format
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/1-documentation.yml
  .github/ISSUE_TEMPLATE/2-content.yml
  .github/ISSUE_TEMPLATE/3-enhancement.yml
  .github/ISSUE_TEMPLATE/4-bug-report.yml
  .github/ISSUE_TEMPLATE/5-chore.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: chore
